In [1]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [3]:
movies = pd.read_csv("/Users/achintyadutta/Documents/UPGRAD/Python/Assignment/Movie+Assignment+Data.csv",sep=",",encoding="ISO-8859-1")

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [44]:
# Write your code for inspection here
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [5]:
# Write your code for column-wise null count here
movies.isnull().sum(axis=0)

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [6]:
# Write your code for row-wise null count here
movies.isnull().sum(axis=1)

0        0
1        0
2        0
3        0
4       14
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
5013     2
5014     2
5015     0
5016     5
5017     2
5018     2
5019     2
5020     5
5021     1
5022     4
5023     2
5024     1
5025     0
5026     0
5027     0
5028     3
5029     1
5030     5
5031     3
5032     4
5033     0
5034     1
5035     0
5036     3
5037     1
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [7]:
# Write your code for column-wise null percentages here
round(100*(movies.isnull().sum()/len(movies.index)),2)

color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.24
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [8]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 
movies1=movies.drop(['color','director_facebook_likes','actor_1_facebook_likes','actor_2_facebook_likes','actor_3_facebook_likes','actor_2_name','cast_total_facebook_likes','duration','facenumber_in_poster','content_rating','country','movie_imdb_link','aspect_ratio','plot_keywords'],axis=1)

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [9]:
# Write your code for dropping the rows here
##------ Get the columns where Null values are greater than 5% ----------- |START

s=(round(movies1.isnull().sum()/len(movies1.index)*100,2) > 5) 

##------ Get the columns where Null values are greater than 5% ----------- |END


##------ Get the columns as list where  Null values are greater than 5% ----------- |START

p=list(s[s==True].index) 

##------ Get the columns as list where  Null values are greater than 5% ----------- |END


##------ Extract the dataframe without those rows having Null values in columns within the list ----------- |START

movies_wo_nan=movies1[~(movies1[p[0]].isnull()|movies1[p[1]].isnull())]

##------ Extract the dataframe without those rows having Null values in columns within the list ----------- |END

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [10]:
# Write your code for dropping the rows here
movies_r_null=movies_wo_nan[movies_wo_nan.isnull().sum(axis=1)<5]

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [11]:
# Write your code for filling the NaN values in the 'language' column here
movies_r_null.loc[pd.isnull(movies_r_null['language']),'language']='English'

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [12]:
# Write your code for checking number of retained rows here
round(len(movies_r_null.index)/len(movies.index)*100,2)

77.16

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [13]:
# Write your code for unit conversion here
movies_r_null['budget']=movies_r_null['budget']/1000000
movies_r_null['gross']=movies_r_null['gross']/1000000

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [14]:
# Write your code for creating the profit column here
movies_r_null['profit']=movies_r_null['gross']-movies_r_null['budget']

In [34]:
# Write your code for sorting the dataframe here
movies_r_null.sort_values(by='profit',ascending=False)

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,actor_3_name,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,AvatarÂ,886204,Wes Studi,3054.0,English,237.000000,2009.0,7.9,33000,523.505847
29,Colin Trevorrow,644.0,652.177271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic WorldÂ,418214,Omar Sy,1290.0,English,150.000000,2015.0,7.0,150000,502.177271
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,TitanicÂ,793059,Gloria Stuart,2528.0,English,200.000000,1997.0,7.7,26000,458.672302
3024,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New HopeÂ,911097,Kenny Baker,1470.0,English,11.000000,1977.0,8.7,33000,449.935665
3080,Steven Spielberg,215.0,434.949459,Family|Sci-Fi,Henry Thomas,E.T. the Extra-TerrestrialÂ,281842,Peter Coyote,515.0,English,10.500000,1982.0,7.9,34000,424.449459
794,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The AvengersÂ,995415,Scarlett Johansson,1722.0,English,220.000000,2012.0,8.1,123000,403.279547
17,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The AvengersÂ,995415,Scarlett Johansson,1722.0,English,220.000000,2012.0,8.1,123000,403.279547
509,Roger Allers,186.0,422.783777,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion KingÂ,644348,Niketa Calame,656.0,English,45.000000,1994.0,8.5,17000,377.783777
240,George Lucas,320.0,474.544677,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom MenaceÂ,534658,Ian McDiarmid,3597.0,English,115.000000,1999.0,6.5,13000,359.544677
66,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,The Dark KnightÂ,1676169,Morgan Freeman,4667.0,English,185.000000,2008.0,9.0,37000,348.316061
439,Gary Ross,673.0,407.999255,Adventure|Drama|Sci-Fi|Thriller,Jennifer Lawrence,The Hunger GamesÂ,701607,Anthony Reynolds,1959.0,English,78.000000,2012.0,7.3,140000,329.999255
812,Tim Miller,579.0,363.024263,Action|Adventure|Comedy|Romance|Sci-Fi,Ryan Reynolds,DeadpoolÂ,479047,Stefan Kapicic,1058.0,English,58.000000,2016.0,8.1,117000,305.024263
186,Francis Lawrence,502.0,424.645577,Adventure|Sci-Fi|Thriller,Jennifer Lawrence,The Hunger Games: Catching FireÂ,498397,Sandra Ellis Lafferty,706.0,English,130.000000,2013.0,7.6,82000,294.645577
697,Steven Spielberg,308.0,356.784000,Adventure|Sci-Fi|Thriller,Wayne Knight,Jurassic ParkÂ,613473,Bob Peck,895.0,English,63.000000,1993.0,8.1,19000,293.784000
521,Pierre Coffin,306.0,368.049635,Animation|Comedy|Family|Sci-Fi,Steve Carell,Despicable Me 2Â,286877,Steve Coogan,284.0,English,76.000000,2013.0,7.5,56000,292.049635
814,Clint Eastwood,490.0,350.123553,Action|Biography|Drama|History|Thriller|War,Bradley Cooper,American SniperÂ,325264,Keir O'Donnell,916.0,English,58.800000,2014.0,7.3,112000,291.323553
338,Andrew Stanton,301.0,380.838870,Adventure|Animation|Comedy|Family,Alexander Gould,Finding NemoÂ,692482,Brad Garrett,866.0,English,94.000000,2003.0,8.2,11000,286.838870
582,Andrew Adamson,205.0,436.471036,Adventure|Animation|Comedy|Family|Fantasy|Romance,Rupert Everett,Shrek 2Â,314630,Conrad Vernon,483.0,English,150.000000,2004.0,7.2,0,286.471036
339,Peter Jackson,328.0,377.019252,Action|Adventure|Drama|Fantasy,Orlando Bloom,The Lord of the Rings: The Return of the KingÂ,1215718,Bernard Hill,3189.0,English,94.000000,2003.0,8.9,16000,283.019252
1536,Richard Marquand,197.0,309.125409,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode VI - Return of the JediÂ,681857,Kenny Baker,647.0,English,32.500000,1983.0,8.4,14000,276.625409
836,Robert Zemeckis,149.0,329.691196,Comedy|Drama,Tom Hanks,Forrest GumpÂ,1251222,Sam Anderson,1398.0,English,55.000000,1994.0,8.8,59000,274.691196
2051,Irvin Kershner,223.0,290.158751,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode V - The Empire Strikes BackÂ,837759,Anthony Daniels,900.0,English,18.000000,1980.0,8.8,17000,272.158751
2601,Chris Columbus,102.0,285.761243,Comedy|Family,Macaulay Culkin,Home AloneÂ,311075,Catherine O'Hara,305.0,English,18.000000,1990.0,7.5,20000,267.761243
236,George Lucas,359.0,380.262555,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode III - Revenge of the SithÂ,520104,Hayden Christensen,3286.0,English,113.000000,2005.0,7.6,10000,267.262555
161,Sam Raimi,291.0,403.706375,Action|Adventure|Fantasy|Romance,J.K. Simmons,Spider-ManÂ,544665,Kirsten Dunst,2012.0,English,139.000000,2002.0,7.3,5000,264.706375
563,Kyle Balda,308.0,336.029560,Action|Animation|Comedy|Family|Sci-Fi,Steve Carell,MinionsÂ,142403,Steve Coogan,275.0,English,74.000000,2015.0,6.4,70000,262.029560
1181,M. Night Shyamalan,234.0,293.501675,Drama|Mystery|Thriller,Bruce Willis,The Sixth SenseÂ,704766,Olivia Williams,2073.0,English,40.000000,1999.0,8.1,14000,253.501675
2917,Steven Spielberg,385.0,260.000000,Adventure|Drama|Thriller,Roy Scheider,JawsÂ,412454,Murray Hamilton,962.0,English,8.000000,1975.0,8.0,21000,252.000000
125,Chris Buck,406.0,400.736600,Adventure|Animation|Comedy|Family|Fantasy|Musical,Josh Gad,FrozenÂ,421658,Livvy Stubenrauch,904.0,English,150.000000,2013.0,7.6,58000,250.736600
519,Yarrow Cheney,165.0,323.505540,Animation|Comedy|Family,Steve Coogan,The Secret Life of PetsÂ,24407,Albert Brooks,155.0,English,75.000000,2016.0,6.8,36000,248.505540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3879,Joe Wright,256.0,34.964818,Adventure|Family|Fantasy,Hugh Jackman,PanÂ,39975,Nonso Anozie,186.0,English,150.000000,2015.0,5.8,24000,-115.035182
145,Joe Wright,256.0,34.964818,Adventure|Family|Fantasy,Hugh Jackman,PanÂ,39956,Nonso Anozie,186.0,English,150.000000,2015.0,5.8,24000,-115.035182
303,Joe Wright,256.0,34.964818,Adventure|Family|Fantasy,Hugh Jackman,PanÂ,39956,Nonso Anozie,186.0,English,150.000000,2015.0,5.8,24000,-115.035182
113,Oliver Stone,248.0,34.293771,Action|Adventure|Biography|Drama|History|Roman...,Anthony Hopkins,AlexanderÂ,138863,Brian Blessed,1390.0,English,155.000000,2004.0,5.5,0,-120.706229
14,Gore Verbinski,450.0,89.289910,Action|Adventure|Western,Johnny Depp,The Lone RangerÂ,181792,Tom Wilkinson,711.0,English,215.000000,2013.0,6.5,48000,-125.710090
143,Simon Wells,132.0,21.379315,Action|Adventure|Animation|Comedy|Family|Sci-Fi,Elisabeth Harnois,Mars Needs MomsÂ,17590,Tom Everett Scott,112.0,English,150.000000,2011.0,5.4,0,-128.620685
62,Lana Wachowski,384.0,47.375327,Action|Adventure|Sci-Fi,Channing Tatum,Jupiter AscendingÂ,139593,Eddie Redmayne,720.0,English,176.000000,2015.0,5.4,44000,-128.624673
49,Bryan Singer,338.0,65.171860,Adventure|Fantasy,Eddie Marsan,Jack the Giant SlayerÂ,106416,Ralph Brown,205.0,English,195.000000,2013.0,6.3,22000,-129.828140
85,Carl Rinsch,218.0,38.297305,Action|Adventure|Drama|Fantasy,Keanu Reeves,47 RoninÂ,116994,Jin Akanishi,324.0,English,175.000000,2013.0,6.3,35000,-136.702695
2339,Jean-Marie PoirÃ©,8.0,0.146072,Comedy|Family|Fantasy|Sci-Fi,Christian Clavier,Les couloirs du temps: Les visiteurs IIÂ,7147,Marie-Anne Chazel,16.0,French,140.000000,1998.0,6.0,136,-139.853928
28,Peter Berg,377.0,65.173160,Action|Adventure|Sci-Fi|Thriller,Liam Neeson,BattleshipÂ,202382,Tadanobu Asano,751.0,English,209.000000,2012.0,5.9,44000,-143.826840
1782,Jacques Perrin,100.0,10.762178,Documentary,Jacques Perrin,Winged MigrationÂ,10369,NaN,153.0,English,160.000000,2001.0,8.0,1000,-149.237822
3877,R. Balki,12.0,0.199228,Comedy|Drama,Vidya Balan,PaaÂ,7295,Paresh Rawal,49.0,Hindi,150.000000,2009.0,7.2,504,-149.800772
91,Robert Zemeckis,188.0,0.665426,Adventure|Animation|Family|Fantasy,Tom Hanks,The Polar ExpressÂ,120798,Peter Scolari,444.0,English,165.000000,2004.0,6.6,10000,-164.334574
3659,Prachya Pinkaew,112.0,11.905519,Action|Crime|Drama|Thriller,Jon Foo,The ProtectorÂ,30210,Johnny Nguyen,214.0,Thai,200.000000,2005.0,7.1,0,-188.094481
5,Andrew Stanton,462.0,73.058679,Action|Adventure|Sci-Fi,Daryl Sabara,John CarterÂ,212204,Polly Walker,738.0,English,263.700000,2012.0,6.6,24000,-190.641321
2740,Tony Jaa,110.0,0.102055,Action,Nirut Sirichanya,Ong-bak 2Â,24570,Sarunyu Wongkrachang,72.0,Thai,300.000000,2008.0,6.2,0,-299.897945
1016,Luc Besson,111.0,14.131298,Adventure|Biography|Drama|History|War,Paul Brooke,The Messenger: The Story of Joan of ArcÂ,55889,Rab Affleck,390.0,English,390.000000,1999.0,6.4,0,-375.868702
3311,Chatrichalerm Yukol,31.0,0.454255,Action|Adventure|Drama|History|War,Sarunyu Wongkrachang,The Legend of SuriyothaiÂ,1666,Mai Charoenpura,47.0,Thai,400.000000,2001.0,6.6,124,-399.545745
1338,John Woo,160.0,0.626809,Action|Adventure|Drama|History|War,Takeshi Kaneshiro,Red CliffÂ,36894,Wei Zhao,105.0,Mandarin,553.632000,2008.0,7.4,0,-553.005191
3273,Anurag Basu,41.0,1.602466,Action|Drama|Romance|Thriller,BÃ¡rbara Mori,KitesÂ,9673,Kabir Bedi,106.0,English,600.000000,2010.0,6.0,0,-598.397534
3075,Karan Johar,20.0,3.275443,Drama,Shah Rukh Khan,Kabhi Alvida Naa KehnaÂ,13998,Preity Zinta,264.0,Hindi,700.000000,2006.0,6.0,659,-696.724557
3851,Carlos Saura,35.0,1.687311,Drama|Musical,MÃ­a Maestro,TangoÂ,2412,Miguel Ãngel SolÃ¡,40.0,Spanish,700.000000,1998.0,7.2,539,-698.312689
4542,Takao Okawara,107.0,10.037390,Action|Adventure|Drama|Sci-Fi|Thriller,Hiroshi Abe,Godzilla 2000Â,5442,Sakae Kimura,140.0,Japanese,1000.000000,1999.0,6.0,339,-989.962610
3423,Katsuhiro Ãtomo,150.0,0.439162,Action|Animation|Sci-Fi,Mitsuo Iwata,AkiraÂ,106160,TesshÃ´ Genda,430.0,Japanese,1100.000000,1988.0,8.1,0,-1099.560838
2334,Katsuhiro Ãtomo,105.0,0.410388,Action|Adventure|Animation|Family|Sci-Fi|Thriller,William Hootkins,SteamboyÂ,13727,Rosalind Ayres,79.0,Japanese,2127.519898,2004.0,6.9,973,-2127.109510
2323,Hayao Miyazaki,174.0,2.298191,Adventure|Animation|Fantasy,Minnie Driver,Princess MononokeÂ,221552,Billy Crudup,570.0,Japanese,2400.000000,1997.0,8.4,11000,-2397.701809
3005,Lajos Koltai,73.0,0.195888,Drama|Romance|War,Marcell Nagy,FatelessÂ,5603,BÃ¡lint PÃ©ntek,45.0,Hungarian,2500.000000,2005.0,7.1,607,-2499.804112
3859,Chan-wook Park,202.0,0.211667,Crime|Drama,Min-sik Choi,Lady VengeanceÂ,53508,Hye-jeong Kang,131.0,Korean,4200.000000,2005.0,7.7,4000,-4199.788333
2988,Joon-ho Bong,363.0,2.201412,Comedy|Drama|Horror|Sci-Fi,Doona Bae,The HostÂ,68883,Ah-sung Ko,279.0,Korean,12215.500000,2006.0,7.0,7000,-12213.298588

In [16]:
top10 = movies_r_null.sort_values(by='profit',ascending=False).head(10)

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [17]:
# Write your code for dropping duplicate values here

#The paramater first is required to consider and jeep the first duplicate value only
top10.drop_duplicates(["director_name","movie_title"],keep="first",inplace=True)

In [33]:
# Write code for repeating subtask 2 here
top10.sort_values(by='profit',ascending=False).head(10) 

##James Cameron can be spotted at first and 3rd place of the top10 dataframe

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,actor_3_name,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,AvatarÂ,886204,Wes Studi,3054.0,English,237.0,2009.0,7.9,33000,523.505847
29,Colin Trevorrow,644.0,652.177271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic WorldÂ,418214,Omar Sy,1290.0,English,150.0,2015.0,7.0,150000,502.177271
26,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,TitanicÂ,793059,Gloria Stuart,2528.0,English,200.0,1997.0,7.7,26000,458.672302
3024,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New HopeÂ,911097,Kenny Baker,1470.0,English,11.0,1977.0,8.7,33000,449.935665
3080,Steven Spielberg,215.0,434.949459,Family|Sci-Fi,Henry Thomas,E.T. the Extra-TerrestrialÂ,281842,Peter Coyote,515.0,English,10.5,1982.0,7.9,34000,424.449459
794,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,The AvengersÂ,995415,Scarlett Johansson,1722.0,English,220.0,2012.0,8.1,123000,403.279547
509,Roger Allers,186.0,422.783777,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion KingÂ,644348,Niketa Calame,656.0,English,45.0,1994.0,8.5,17000,377.783777
240,George Lucas,320.0,474.544677,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom MenaceÂ,534658,Ian McDiarmid,3597.0,English,115.0,1999.0,6.5,13000,359.544677
66,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,The Dark KnightÂ,1676169,Morgan Freeman,4667.0,English,185.0,2008.0,9.0,37000,348.316061

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [39]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'

## ----- Get the first 250 rows after sorting the dataframe in descending order over imdb_score --- START
IMDb_Top_250 = movies_r_null.sort_values(by="imdb_score",ascending=False).head(250)
## ----- Get the first 250 rows after sorting the dataframe in descending order over imdb_score --- END

## ----- Add the Rank column to the dataframe --- START
IMDb_Top_250['Rank']=range(1, len(IMDb_Top_250) + 1)
## ----- Add the Rank column to the dataframe --- END


## ----- Get the movies where num_voted_users is greater than 25,000 --- START
IMDb_Top_250 = IMDb_Top_250.loc[IMDb_Top_250.num_voted_users>25000]
## ----- Get the movies where num_voted_users is greater than 25,000 --- END

In [20]:
Top_Foreign_Lang_Film = IMDb_Top_250[IMDb_Top_250.language!='English']

#Veer-Zaara can be spotted at 3510

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [40]:
# Write your code for extracting the top 10 directors here
director_groupby=movies_r_null.groupby('director_name')

#Get the mean score by each director and convert groupby object to dataframe for sorting

## --- Group by the dataframe using director_name and imdb_score, take mean and convert to dataframe | START
df_gr=director_groupby['director_name','imdb_score'].mean().reset_index()
## --- Group by the dataframe using director_name and imdb_score, take mean and convert to dataframe | END

## --- Sort by imdb_score and take the first 10 rows --- | START
df_gr.sort_values('imdb_score',ascending=False).head(10)
## --- Sort by imdb_score and take the first 10 rows --- | END

#Damien Chazelle can be found as the 3rd entry

              director_name  imdb_score
216         Charles Chaplin    8.600000
1675              Tony Kaye    8.600000
302         Damien Chazelle    8.500000
1440             Ron Fricke    8.500000
45         Alfred Hitchcock    8.500000
1017           Majid Majidi    8.500000
1498           Sergio Leone    8.433333
260       Christopher Nolan    8.425000
1035  Marius A. Markevicius    8.400000
1467         S.S. Rajamouli    8.400000

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [22]:
# Write your code for extracting the first two genres of each movie here

## --- Split the genres column by | also create genres_XXX column fro each split --- | START
movies_genres=movies_r_null.join(movies_r_null['genres'].str.split('|',expand=True).add_prefix('genres_'))
## --- Split the genres column by | also create genres_XXX column fro each split --- | END

## --- Drop the other columns other than genres_0 and genres_1 --- | START
movies_genres=movies_genres.drop(['genres_2','genres_3','genres_4','genres_5','genres_6','genres_7'],axis=1)
## --- Drop the other columns other than genres_0 and genres_1 --- | END

## --- Rename the columns genres_0 and genres_1 to genres_1 and genres_2 respectively --- | START
movies_genres=movies_genres.rename(columns={'genres_0':'genres_1','genres_1':'genres_2'})
## --- Rename the columns genres_0 and genres_1 to genres_1 and genres_2 respectively --- | END

## --- Replace None values with NaN values --- | START
movies_genres.genres_2.fillna(value=pd.np.nan, inplace=True)
## --- Replace None values with NaN values --- | END

## --- Replace Null values in genres_2 column with genres_1 column value --- | START
movies_genres.loc[pd.isnull(movies_genres['genres_2']),['genres_2']]=movies_genres['genres_1']
## --- Replace Null values in genres_2 column with genres_1 column value --- | END

In [23]:
## --- Group by genres_1 and genres_2 --- | START
movies_by_segment = movies_genres.groupby(['genres_1','genres_2'])
## --- Group by genres_1 and genres_2 --- | END

In [42]:
## --- Use the groupby object and take mean of the gross, convert the Series into dataframe, sort by gross value, take the first 5 rows --- | START --- | START
PopGenre = ((movies_by_segment['gross'].mean()).reset_index().sort_values(by="gross",ascending=False)).head(5)
## --- Use the groupby object and take mean of the gross, convert the Series into dataframe, sort by gross value, take the first 5 rows --- | END

## Family + Sci-Fi is the highest with max gross value

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [25]:
# Write your code for creating three new dataframes here

## --- Extract the data for Maryl Streep --- | START
Meryl_Streep = movies_r_null.loc[(movies_r_null.actor_1_name=='Meryl Streep'),:]
## --- Extract the data for Maryl Streep --- | END

In [26]:
## --- Extract the data for Leonardo Di'Caprio --- | START
Leo_Caprio = movies_r_null.loc[(movies_r_null.actor_1_name=='Leonardo DiCaprio'),:]
## --- Extract the data for Leonardo Di'Caprio --- | END

In [27]:
## --- Extract the data for Brad Pitt --- | START
Brad_Pitt = movies_r_null.loc[(movies_r_null.actor_1_name=='Brad Pitt'),:]
## --- Extract the data for Brad Pitt --- | END

In [28]:
# Write your code for combining the three dataframes here
Combined=Brad_Pitt.append(Meryl_Streep.append(Leo_Caprio))

In [29]:
# Write your code for grouping the combined dataframe here
combined_groupby=Combined.groupby(['actor_1_name'])

In [30]:
# Write the code for finding the mean of critic reviews and audience reviews here

## --- Get the mean of Critic reviews, convert the Series to Dataframe, Sort in descending order --- | START
mean_critic_rev=(combined_groupby['num_critic_for_reviews']).mean().reset_index().sort_values(by='num_critic_for_reviews',ascending=False)
## --- Get the mean of Critic reviews, convert the Series to Dataframe, Sort in descending order --- | END

## --- Get the mean of User reviews, convert the Series to Dataframe, Sort in descending order --- | START
mean_user_rev=(combined_groupby['num_user_for_reviews']).mean().reset_index().sort_values(by='num_user_for_reviews',ascending=False)
## --- Get the mean of User reviews, convert the Series to Dataframe, Sort in descending order --- | END

**Checkpoint 6:** `Leonardo` has aced both the lists!